@model Train_project.Models.Staff

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ST_id" />
            <div class="form-group">
                <label asp-for="ST_fname" class="control-label">Staff's First Name</label>
                <input asp-for="ST_fname" class="form-control" />
                <span asp-validation-for="ST_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ST_lname" class="control-label">Staff's Last Name</label>
                <input asp-for="ST_lname" class="form-control" />
                <span asp-validation-for="ST_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ST_resp" class="control-label">Staff's Responsibility</label>
                <input asp-for="ST_resp" class="form-control" />
                <span asp-validation-for="ST_resp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ST_DOB" class="control-label">Staff's Date of Birth</label>
                <input asp-for="ST_DOB" class="form-control" />
                <span asp-validation-for="ST_DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainTR_id" class="control-label">Train ID</label>
                <select asp-for="TrainTR_id" class="form-control" asp-items="ViewBag.TrainTR_id"></select>
                <span asp-validation-for="TrainTR_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
