@model Train_project.Models.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="T_id" />
            <div class="form-group">
                <label asp-for="date_issued" class="control-label">Date Issued</label>
                <input asp-for="date_issued" class="form-control" />
                <span asp-validation-for="date_issued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerP_id" class="control-label">Passenger ID</label>
                <select asp-for="PassengerP_id" class="form-control" asp-items="ViewBag.PassengerP_id"></select>
                <span asp-validation-for="PassengerP_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainTR_id" class="control-label">Train ID</label>
                <select asp-for="TrainTR_id" class="form-control" asp-items="ViewBag.TrainTR_id"></select>
                <span asp-validation-for="TrainTR_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassC_id" class="control-label">Train Class ID</label>
                <select asp-for="ClassC_id" class="form-control" asp-items="ViewBag.ClassC_id"></select>
                <span asp-validation-for="ClassC_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteR_id" class="control-label">Route ID</label>
                <select asp-for="RouteR_id" class="form-control" asp-items="ViewBag.RouteR_id"></select>
                <span asp-validation-for="RouteR_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleQ_id" class="control-label">Schedule ID</label>
                <select asp-for="ScheduleQ_id" class="form-control" asp-items="ViewBag.ScheduleQ_id"></select>
                <span asp-validation-for="ScheduleQ_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionPromotion_id" class="control-label">Promotion ID</label>
                <select asp-for="PromotionPromotion_id" class="form-control" asp-items="ViewBag.PromotionPromotion_id"></select>
                <span asp-validation-for="PromotionPromotion_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
