@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RotFai Project</h1>
    <p>CPE332 Database and ERP Systems Final Project</p>
</div>

<center>

    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
        <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEd-lTl5eg&#x2F;view?embed">
        </iframe>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEd-lTl5eg&#x2F;view?utm_content=DAEd-lTl5eg&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>

</center>


@*<center>
    <iframe src="https://www.google.com/maps/embed?pb=!4v1620579938829!6m8!1m7!1sCAoSLEFGMVFpcFBkVEZCZlhvX0V3dGs2d054Qk9Lb3FjQjlKM0hkcWhQeVZkbGxY!2m2!1d40.75271597961245!2d-73.97721926797203!3f252.04981311501248!4f10.25024083568664!5f0.7820865974627469" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!4v1620580546899!6m8!1m7!1s5NFLKyh0qEJd3B3IUPAhvQ!2m2!1d37.77670824362878!2d-122.394830612824!3f269.3293340127635!4f4.355353239190933!5f0.4000000000000002" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!4v1620580463167!6m8!1m7!1sCAoSLEFGMVFpcE56dzF5SDVBZ25HempmZHR6OVJmTnN6X2RSdTNLcHQ1RkIyckJt!2m2!1d41.8639009!2d-87.6350918!3f33.82730209024945!4f16.8216569494584!5f0.4000000000000002" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</center>*@

<div id="accordion">
    <div class="card">
        <div class="card-header bg-primary text-white" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link bg-primary text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <center>
                        New York's Grand Central Terminal
                    </center>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1620579938829!6m8!1m7!1sCAoSLEFGMVFpcFBkVEZCZlhvX0V3dGs2d054Qk9Lb3FjQjlKM0hkcWhQeVZkbGxY!2m2!1d40.75271597961245!2d-73.97721926797203!3f252.04981311501248!4f10.25024083568664!5f0.7820865974627469" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </center>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed bg-primary text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <center>A Station in San Francisco</center>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1620580546899!6m8!1m7!1s5NFLKyh0qEJd3B3IUPAhvQ!2m2!1d37.77670824362878!2d-122.394830612824!3f269.3293340127635!4f4.355353239190933!5f0.4000000000000002" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </center>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed bg-primary text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <center>Chicago's Union Station</center>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1620580463167!6m8!1m7!1sCAoSLEFGMVFpcE56dzF5SDVBZ25HempmZHR6OVJmTnN6X2RSdTNLcHQ1RkIyckJt!2m2!1d41.8639009!2d-87.6350918!3f33.82730209024945!4f16.8216569494584!5f0.4000000000000002" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </center>
            </div>
        </div>
    </div>
</div>
