@model Train_project.Models.Class

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="C_id" />
            <div class="form-group">
                <label asp-for="Classname" class="control-label">Class Name</label>
                <input asp-for="Classname" class="form-control" />
                <span asp-validation-for="Classname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_price" class="control-label">Class Price</label>
                <input asp-for="Class_price" class="form-control" />
                <span asp-validation-for="Class_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aisle_no" class="control-label">Aisle Number</label>
                <input asp-for="Aisle_no" class="form-control" />
                <span asp-validation-for="Aisle_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat_no" class="control-label">Seat Number</label>
                <input asp-for="Seat_no" class="form-control" />
                <span asp-validation-for="Seat_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
