@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello Admin</h1>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Routes" asp-action="Index">Routes</a>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Classes" asp-action="Index">Train Classes</a>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Promotions" asp-action="Index">Promotions</a>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Staffs" asp-action="Index">Staffs</a>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Trains" asp-action="Index">Train</a>

<a class="nav-link btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a>
